*,
body {
  margin: 0;
  padding: 0;
}
.title-email {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}
.input-email-forgot-password {
  border-radius: 4px;
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
}
.button-forgot-password {
  border-radius: 4px;
  width: 150px;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: bisque;
}
