.taskDone{
    color: red;
    text-decoration: line-through;
}

.info{
    display: flex;
    align-items: center;
    gap: 16px;

}

.task_container{
    display: flex;
    align-items: center;
    gap: 20px;
    

}

.btn_edit{
    white-space:nowrap;
    width: max-content;
}

.btn_edit_bot_done{
    white-space: nowrap;
    width: max-content;
    color: blue;
}