.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  height: 75px;
  padding: 0 20px;
  background: linear-gradient(180deg, #4f78b9 0%, #4e74aa 55%, #2860a8 100%);

  color: #f1f6fc;
}
.title-menu {
  display: flex;
  text-align: left;
  margin-top: 20px;
}
.title-icon {
  align-items: center;
  color: rgb(253, 35, 86);
  margin-right: 10px;
  font-size: x-large;
}
.user-title {
  display: flex;
  text-align: left;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 50px;
  flex-direction: column;
}
.content-project {
  display: flex;
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #4f78b9 0%, #4e74aa 55%, #2860a8 100%);

  color: #f1f6fc;
  font-weight: 500;

  box-sizing: border-box;
  margin-left: 0;
}
.content-project li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-left: 30px;
  padding: 0;
  color: #333;
  margin-top: 30px;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  color: rgb(253, 35, 86);
  margin-right: 10px;
}
