.container {
  display: flex;
  flex-direction: column;
  color: #3b82f6;
  background-color: #e7c6cf;
}

.header {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  height: 75px;
  background-color: #e6c1c7;
  padding: 0 20px;
}
.title-menu {
  display: flex;
  text-align: left;
  margin-top: 20px;
}
.title-icon {
  align-items: center;
  color: blue;
  margin-right: 10px;
  font-size: x-large;
}
.user-title {
  display: flex;
  text-align: left;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 50px;
  flex-direction: column;
}
.content-project {
  display: flex;
  width: 100%;
  background-color: #e8f3fc;
  height: auto;

  box-sizing: border-box;
  margin-left: 0;
}
.content-project li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-left: 30px;
  padding: 0;
  color: #333;
  margin-top: 30px;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  color: blue;
  margin-right: 10px;
}
